#!/usr/bin/make -f

DEB_BUILD_OPTIONS=nocheck

build: build-stamp
build-stamp:
	dh build --before configure
	dh_auto_configure -- --disable-linuxmodule --enable-etherswitch --disable-test
	dh build --after configure
	touch build-stamp

override_dh_auto_test:
	echo "Skip dh_auto_test"

clean:
	dh clean

install: build install-stamp
install-stamp:
	dh install
	touch install-stamp

binary-arch: install
	dh binary-arch

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep
